{% extends "base.html" %}
{% block title %}Информация об организации — Локальный сайт{% endblock %}
{% block content %}
<section id="info">
  <h2>Информация об организации</h2>
  <h3>Адреса</h3>
  <ul>
    <li>г. Чебоксары, ул. Московский проспект, д. 15</li>
  </ul>
  <h3>Телефоны</h3>
  <ul>
    <li>+7 (999) 999-99-99</li>
  </ul>
  <h3>Карта проезда</h3>
<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Ae874d49026095ad78879b76298fa08735198dd5e4d9a4cc95c30b0ba7890649e&amp;source=constructor" width="500" height="400" frameborder="0"></iframe>{% endblock %}
